/*muti-browser capability*/
/*muti-browser capability end*/
.content .questions {
  position: absolute;
  top: 9.6%;
  width: 1500%;
  height: 62.17391304347826%;
}
.content .questions .question {
  width: 6.666666666666667%;
  height: 100%;
  float: left;
}
.content .questions .question h2 {
  position: relative;
  width: 97%;
  height: 26%;
  font-size: 5rem;
  padding: 3.12% 1%;
  text-align: center;
  color: #fff;
  border-bottom: #fff 2px dashed;
}
.content .questions .question h2 span {
  width: 98%;
}
.content .questions .question ul {
  width: 80.625%;
  height: 76.92307692307692%;
  bob2: 440;
  margin: 3.75% auto 0 auto;
}
.content .questions .question ul li {
  width: 100%;
  height: 20%;
}
.content .questions .question ul li a {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 81.81818181818181%;
  border-radius: 2.5rem;
}
.content .questions .question ul li a .circle {
  display: inline-block;
  width: 9.689922480620154%;
  height: 69.44444444444444%;
  border: #fff 2px solid;
  border-radius: 50%;
  text-align: center;
  margin-right: 6.2015503875969%;
  margin-top: 2.131782945736434%;
  margin-left: 2.325581395348837%;
  float: left;
}
.content .questions .question ul li a .circle b {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2.4rem;
}
.content .questions .question ul li a .answer {
  display: inline-block;
  font-size: 3rem;
}
.content .questions .question ul li a.selected {
  background-color: #fff;
  color: #666;
}
.content .questions .question ul li a.wrong {
  background-color: #ed5d62;
}
.content .questions .question ul li a.right {
  background-color: #08c863;
}
.content .vs {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 8.91304347826087%;
  bottom: 10%;
  left: 5%;
}
.content .vs .pho {
  width: 14.23611111111111%;
  height: 100%;
  border-radius: 50%;
}
.content .vs .me {
  float: left;
}
.content .vs .him {
  float: right;
}
.content .vs .info {
  width: 65.97222222222223%;
  height: 100%;
  position: relative;
  font-size: 2.2rem;
  color: #666;
  float: left;
  margin-left: 2.777777777777778%;
}
.content .vs .info .my_name {
  position: absolute;
  bottom: 50%;
}
.content .vs .info .his_name {
  position: absolute;
  bottom: 50%;
  right: 0;
}
.content .vs .info .progress {
  width: 100%;
  height: 19.51219512195122%;
  display: block;
  background-color: #29b6f6;
  position: relative;
  top: 69.51219512195122%;
  border-radius: 0.5rem;
}
.content .vs .info .progress .his_progress {
  width: 50%;
  height: 100%;
  display: inline-block;
  background-color: #fdcc41;
  float: right;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.content .combo {
  position: absolute;
  top: 72%;
  left: 10%;
  z-index: 1;
  font-size: 2.4rem;
  color: #fff;
}
.content .combo .combo_txt {
  position: absolute;
  left: 49%;
  top: 45%;
  width: 90%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  font-size: 3.1rem;
  text-align: center;
}
.overlay {
  display: none;
}
.overlay .quit {
  width: 84.375%;
  height: 33.369565217391305%;
  position: relative;
  background-color: #fff;
  margin-top: 48.125%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
}
.overlay .quit h2 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 8.3333333333333%;
  margin-bottom: 4.6296296296296%;
}
.overlay .quit p {
  font-size: 2.5rem;
  margin-bottom: 2.962962962963%;
}
.overlay .quit .btn {
  position: absolute;
  bottom: 0;
  color: #666;
  display: inline-block;
  width: 50%;
  height: 28.664495114006513%;
  font-size: 3rem;
  color: #007aff;
  border-top: #b2b2b2 1px solid;
}
.overlay .quit .confirm {
  left: 0;
  border-right: #b2b2b2 1px solid;
}
.overlay .quit .cancel {
  right: 0;
}
