.content .nav_mask {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 9.56%;
  margin-top: 13.74%;
  overflow: hidden;
  background-color: #29b6f6;
}
.content .nav_mask ul {
  width: 200%;
  height: 100%;
  padding-left: 4.6875%;
}
.content .nav_mask ul li {
  float: left;
  width: 10%;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.3rem;
}
.content .nav_mask ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.content .nav_mask ul li a span {
  color: #a9e2fb;
  letter-spacing: 0.2rem;
  margin-right: -0.2rem;
}
.content .nav_mask ul li a span.selected {
  color: #fff;
}
.content .nav_mask ul li a.selected {
  height: 92%;
  border-bottom: #ffeb3b 4px solid;
}
.content .choose {
  position: relative;
  z-index: 2;
  padding: 5%;
  color: #b5b5b5;
  background-color: #fff;
  font-size: 2.4rem;
}
.content .booklist_mask {
  width: 100%;
  height: 71.08695652173913%;
  background-color: #fff;
}
.content .booklist_mask .booklist_scroller {
  width: 800%;
  height: 100%;
}
.content .booklist_mask .booklist_scroller .books {
  width: 11.875%;
  padding-left: 0.625%;
  height: 100%;
  overflow: hidden;
  float: left;
}
.content .booklist_mask .booklist_scroller .books ul {
  width: 100%;
}
.content .booklist_mask .booklist_scroller .books ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.content .booklist_mask .booklist_scroller .books ul li a:after {
  content: ".";
  height: 0;
  visibiliby: hidden;
  display: block;
  clear: both;
}
.content .booklist_mask .booklist_scroller .books ul li a img {
  float: left;
  width: 23.519736842105264%;
  margin-top: 2.138157894736842%;
  margin-bottom: 2.138157894736842%;
  margin-right: 7.894736842105263%;
}
.content .booklist_mask .booklist_scroller .books ul li a h4 {
  color: #333;
  font-size: 3rem;
  margin-top: 4.934210526315789%;
}
.content .booklist_mask .booklist_scroller .books ul li a p {
  width: 87.5%;
  margin-top: 4.111842105263158%;
  color: #999;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
