html {
  font-size: 62.5%;
}
body {
  background: #eef3fa;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "SimSun";
  color: #333;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
}
a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #fff;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(40,40,40,0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}
#for_menu {
  z-index: 90;
}
/*muti-browser capability*/
/*muti-browser capability end*/
.hcontrol {
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  background-color: #ffd700;
  margin: 0 auto;
}
.hcontrol .ratioparent {
  position: relative;
  width: 100%;
  padding-bottom: 143.75%;
  background-color: #f00;
}
.hcontrol .ratioparent .ratio {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffd700;
}
/* CSS for header.html BEGIN*/
header {
  position: absolute;
  top: 0px;
  width: 100%;
  overflow: hidden;
  height: 9.56%;
  background-color: #29b6f6;
  font-size: 3.2rem;
  z-index: 99;
}
header a {
  color: #fff;
}
header .page_name {
  width: 50%;
  display: inline-block;
  margin-left: 5%;
  margin-top: 4.37%;
}
header .page_name span.name_txt {
  margin-left: 5%;
}
header .btn_download {
  position: absolute;
  right: 13.75%;
  width: 13.75%;
  height: 100%;
  text-align: center;
}
header .btn_menu {
  position: absolute;
  right: 0;
  width: 13.75%;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
}
header .btn_menu_on {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* CSS for header.html END*/
.hvmiddle {
  position: absolute;
  left: 49%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.vmiddle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.rvmiddle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
}
/* CSS for .menu_content BEGIN*/
.menu_content {
  width: 100%;
  height: 50%;
  min-height: 245px;
  background-color: #fff;
  position: absolute;
  top: -50%;
  z-index: 98;
  display: block;
}
.menu_content .login {
  width: 100%;
  height: 44.56%;
  margin: 0 auto;
  border-bottom: #f7f7f7 2px solid;
}
.menu_content .login .container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  color: #d2d2d2;
  position: relative;
}
.menu_content .login .container .portrait {
  width: 32%;
  height: 100%;
  overflow: hidden;
  float: left;
}
.menu_content .login .container .portrait img {
  width: 70.73%;
  margin: 15.6%;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}
.menu_content .login .container h3 {
  margin-top: 12.5%;
  font-size: 3.8rem;
  color: #7f7f7f;
}
.menu_content .login .container p {
  color: #29b6f6;
  font-size: 2rem;
  margin-top: 2.44%;
}
.menu_content .login .container a {
  width: 24.22%;
  height: 30.24%;
  border: #d2d2d2 1px solid;
  border-radius: 10px;
  display: inline-block;
  font-size: 2.4rem;
  position: absolute;
  left: 70.62%;
  top: 34.15%;
  color: #d2d2d2;
}
.menu_content .off a.regist {
  width: 77px;
  height: 30px;
  display: inline-block;
  border: #d2d2d2 1px solid;
  border-radius: 5px;
  position: absolute;
  left: 130px;
}
.menu_content .off a.logon {
  width: 77px;
  height: 30px;
  display: inline-block;
  background-color: #29b6f6;
  color: #fff;
  border-radius: 5px;
  border: #29b6f6 1px solid;
}
.menu_content .icon_links {
  width: 100%;
  height: 42.39%;
  background-color: #fff;
}
.menu_content .icon_links ul {
  width: 96.25%;
  height: 100%;
  max-width: 616px;
  margin: 0 auto;
}
.menu_content .icon_links ul li {
  width: 18.67%;
  height: 76.93%;
  float: left;
  margin: 4.22% 3.13%;
}
.menu_content .icon_links ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 2.4rem;
  text-align: center;
  color: #666;
}
.menu_content .icon_links ul li a .pname {
  width: 100%;
  height: 12.82%;
  display: inline-block;
  margin-top: 13.04%;
}
.menu_content .txt_links {
  width: 100%;
  height: 19.56%;
  margin: 0 auto;
  background-color: #fff;
  border-top: #f7f7f7 2px solid;
}
.menu_content .txt_links ul {
  width: 100%;
  height: 100%;
}
.menu_content .txt_links ul li {
  width: 33%;
  height: 100%;
  text-align: center;
  float: left;
}
.menu_content .txt_links ul li:first-child {
  border-right: #f7f7f7 1px solid;
}
.menu_content .txt_links ul li:last-child {
  border-left: #f7f7f7 1px solid;
}
.menu_content .txt_links ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 2.3rem;
  color: #666;
}
.menu_content_on {
  transition: all 0.5s;
  top: 9.56%;
}
.menu_content_off {
  transition: all 0.5s;
  top: -50%;
}
.ani_menu_up {
  -webkit-animation: menu_up 0.8s ease forwards;
  -moz-animation: menu_up 0.8s ease forwards;
  -o-animation: menu_up 0.8s ease forwards;
  -ms-animation: menu_up 0.8s ease forwards;
  animation: menu_up 0.8s ease forwards;
}
.ani_menu_down {
  -webkit-animation: menu_down 0.8s ease forwards;
  -moz-animation: menu_down 0.8s ease forwards;
  -o-animation: menu_down 0.8s ease forwards;
  -ms-animation: menu_down 0.8s ease forwards;
  animation: menu_down 0.8s ease forwards;
}
/* CSS for .menu_content END*/
/* CSS for cloud.html BEGIN*/
.clouds {
  width: 100%;
  height: 74.57%;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}
.clouds .cloud_bg {
  display: inline-block;
  width: 100%;
  height: 60.64%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  bottom: 3px;
}
.clouds .cloud_parallax {
  width: 100%;
  height: 39.36%;
  position: relative;
}
.clouds .cloud_parallax .cloud_b {
  display: inline-block;
  width: 4000px;
  height: 67px;
  background: url("../images/cloud_b.png");
  background-size: contain;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  -webkit-animation: cloud_move 250s linear infinite;
  -moz-animation: cloud_move 250s linear infinite;
  -o-animation: cloud_move 250s linear infinite;
  -ms-animation: cloud_move 250s linear infinite;
  animation: cloud_move 250s linear infinite;
}
.clouds .cloud_parallax .cloud_f {
  display: inline-block;
  width: 4000px;
  height: 67px;
  background: url("../images/cloud_f.png");
  background-size: contain;
  position: absolute;
  bottom: 0;
  -webkit-animation: cloud_move 100s linear infinite;
  -moz-animation: cloud_move 100s linear infinite;
  -o-animation: cloud_move 100s linear infinite;
  -ms-animation: cloud_move 100s linear infinite;
  animation: cloud_move 100s linear infinite;
}
.ani_cloud_down {
  -webkit-animation: cloud_down 0.2s ease forwards;
  -moz-animation: cloud_down 0.2s ease forwards;
  -o-animation: cloud_down 0.2s ease forwards;
  -ms-animation: cloud_down 0.2s ease forwards;
  animation: cloud_down 0.2s ease forwards;
}
.boy_in_cloud {
  position: absolute;
  top: 8%;
  left: 5%;
  z-index: 0;
}
/* CSS for cloud.html END*/
/*Content begin*/
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #c0c0c0 url("../images/bg.jpg") center center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.content .kinds {
  position: relative;
  z-index: 1;
  top: 25%;
  text-align: center;
}
.content .kinds .icon_left {
  float: left;
  margin-right: 8%;
}
.content .kinds .icon_right {
  float: right;
  position: absolute;
  top: 50%;
  right: 12%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content .kinds .kqbc {
  display: inline-block;
  padding: 0 1.56%;
  width: 75%;
  max-width: 450px;
  text-align: left;
  color: #fff;
  position: relative;
}
.content .kinds .kqbc .kind_title {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-size: 5.6rem;
}
.content .kinds .kqbc .kind_desc {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-size: 2.4rem;
  margin-top: 3%;
}
.content .kinds .xmyy {
  display: inline-block;
  position: relative;
  padding: 0 1.56%;
  margin-top: 44.53%;
  width: 75%;
  max-width: 450px;
  text-align: left;
  color: #666;
}
.content .kinds .xmyy .kind_title {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-size: 5.6rem;
}
.content .kinds .xmyy .kind_desc {
  width: 60%;
  display: block;
  margin: 0 auto;
  font-size: 2.4rem;
  margin-top: 3%;
}
.content .kinds .copyright {
  font-size: 2.2rem;
  margin-top: 23%;
}
/*Content end*/
/*DOwntips begin*/
.downtips {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  -webkit-animation: fadeOut 1s 3s linear forwards;
  -moz-animation: fadeOut 1s 3s linear forwards;
  -o-animation: fadeOut 1s 3s linear forwards;
  -ms-animation: fadeOut 1s 3s linear forwards;
  animation: fadeOut 1s 3s linear forwards;
}
.downtips img {
  position: absolute;
  right: 2.5%;
  top: 1.8%;
  max-width: 100%;
}
/*DOwntips begin*/
/*hjm_share begin*/
/*hm-share end*/
/* MEDIA QUERY BEGIN */
@media screen and (max-width: 601px) {
  html {
    font-size: 53.13%;
  }
  .sprite {
    zoom: 1;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 48%;
  }
  .sprite {
    zoom: 0.9;
  }
}
@media screen and (max-width: 470px) {
  html {
    font-size: 43%;
  }
  .sprite {
    zoom: 0.8;
  }
}
@media screen and (max-width: 420px) {
  html {
    font-size: 37%;
  }
  .sprite {
    zoom: 0.72;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 34%;
  }
  .sprite {
    zoom: 0.52;
  }
}
/* MEDIA QUERY END */
/* LANDSCAPE BEGIN */
@media screen and (orientation: landscape) {
  .content .kinds .kqbc,
  .content .kinds .xmyy {
    text-align: center;
  }
}
/* LANDSCAPE BEGIN */
@-moz-keyframes menu_on {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-webkit-keyframes menu_on {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-o-keyframes menu_on {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes menu_on {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@-moz-keyframes menu_off {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes menu_off {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-o-keyframes menu_off {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes menu_off {
  0% {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes menu_up {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-webkit-keyframes menu_up {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-o-keyframes menu_up {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes menu_up {
  100% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@-moz-keyframes menu_down {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-webkit-keyframes menu_down {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-o-keyframes menu_down {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes menu_down {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@-moz-keyframes cloud_move {
  100% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-webkit-keyframes cloud_move {
  100% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-o-keyframes cloud_move {
  100% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes cloud_move {
  100% {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-moz-keyframes cloud_down {
  100% {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
}
@-webkit-keyframes cloud_down {
  100% {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
}
@-o-keyframes cloud_down {
  100% {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
}
@keyframes cloud_down {
  100% {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
  }
}
@-moz-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-o-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
