/*muti-browser capability*/
/*muti-browser capability end*/
.hmiddle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.content .user_info {
  width: 100%;
  height: 33.7%;
  position: relative;
  top: 14.35%;
}
.content .user_info .pic {
  width: 100%;
  height: 61.94%;
  position: relative;
}
.content .user_info .pic .wave_containter {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 13%;
}
.content .user_info .pic .photo {
  max-height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  boder: #e2e2e2 1px solid;
  border-radius: 50%;
}
.content .user_info .user_txt {
  text-align: center;
  color: #eef9ff;
}
.content .user_info .user_name {
  margin-top: 4.38%;
  font-size: 3.4rem;
  letter-spacing: 0.1rem;
}
.content .user_info .user_status {
  margin-top: 1.57%;
  font-size: 2.4rem;
}
.content .opp_info {
  width: 100%;
  height: 32.61%;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
.content .opp_info ul {
  position: relative;
  left: -4%;
  top: -20%;
  overflow: hidden;
  width: 300%;
  height: 64%;
  padding: 0 1.66%;
}
.content .opp_info ul li {
  float: left;
  margin-right: 0.8%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.content .selected {
  position: absolute;
  top: 60.61%;
  left: 34.84%;
  width: 30%;
  height: 32.6%;
  z-index: 2;
}
.content .selected img {
  height: 64%;
  max-width: 100%;
  border-radius: 50%;
}
.content .selected .opp_txt {
  text-align: center;
}
.content .selected .opp_name {
  font-size: 3.4rem;
  color: #666;
  margin-top: 14.58%;
}
.content .selected .opp_status {
  font-size: 2.4rem;
  color: #29b6f6;
  margin-top: 5.2%;
}
.content .pk {
  position: absolute;
  top: 53%;
  z-index: 1;
  width: 17.18%;
  height: 11.96%;
  border-radius: 50%;
  background-color: #fdcc41;
  font-size: 4rem;
  color: #fff;
}
.content .clouds {
  z-index: 1;
}
.waiting,
.me_done {
  position: absolute;
  top: 28.8%;
  width: 100%;
  height: 28.8%;
}
.waiting .wave,
.me_done .wave {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 50.45%;
  height: 54.72%;
  background: url("../images/wave.png") center center no-repeat;
  background-size: contain;
  margin-top: 3.91%;
}
.waiting .opp_photo,
.me_done .opp_photo {
  width: 30%;
  height: 72.45%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
.waiting .opp_photo img,
.me_done .opp_photo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
.waiting p,
.me_done p {
  width: 100%;
  position: absolute;
  top: 86.79%;
  text-align: center;
  font-size: 3.2rem;
  color: #fff;
}
@-moz-keyframes wave_broadcast {
  0% {
    width: 30.2%;
  }
  100% {
    width: 50.45%;
  }
}
@-webkit-keyframes wave_broadcast {
  0% {
    width: 30.2%;
  }
  100% {
    width: 50.45%;
  }
}
@-o-keyframes wave_broadcast {
  0% {
    width: 30.2%;
  }
  100% {
    width: 50.45%;
  }
}
@keyframes wave_broadcast {
  0% {
    width: 30.2%;
  }
  100% {
    width: 50.45%;
  }
}
