.content .result {
  width: 90.15625%;
  height: 72.71739130434783%;
  position: absolute;
  z-index: 2;
  margin-top: 15.625%;
  margin-left: 4.6875%;
}
.content .result .result_img {
  width: 100%;
  max-height: 100%;
}
.content .result .winorlose {
  width: 100%;
  height: 17.189835575485798%;
  position: absolute;
  top: 11.958146487294469%;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.content .result .winorlose p.you {
  color: #fd585c;
  font-size: 3.2rem;
  margin-left: 7.972270363951473%;
}
.content .result .winorlose p.you2 {
  color: #fdcc41;
  font-size: 3.2rem;
  margin-left: 7.972270363951473%;
}
.content .result .winorlose p.you3 {
  color: #5b53a9;
  font-size: 3.2rem;
  margin-left: 7.972270363951473%;
}
.content .result .winorlose p.result {
  color: #fff;
  font-size: 6rem;
  margin-top: 2.772963604852686%;
  margin-left: 12.478336221837088%;
}
.content .result .info {
  width: 100%;
  height: 38.2660687593423%;
  position: absolute;
  bottom: 0;
}
.content .result .info img {
  position: absolute;
  width: 22.530329289428078%;
  height: 50.78125%;
  border-radius: 50%;
  top: 25%;
  left: 1.559792027729636%;
}
.content .result .info .nick {
  position: absolute;
  width: 17.96875%;
  bottom: 12.109375%;
  left: 3.466204506065858%;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.content .result .info .total {
  position: absolute;
  top: 66.40625%;
  left: 28.596187175043326%;
  font-size: 5.4rem;
  color: #fff;
}
.content .result .info .correct {
  position: absolute;
  top: 5.859375%;
  left: 68.63084922010398%;
  font-size: 3.2rem;
  color: #fff;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.content .result .info .time {
  position: absolute;
  top: 42.96875%;
  left: 68.63084922010398%;
  font-size: 3.2rem;
  color: #fff;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.content .result .info .combo {
  position: absolute;
  top: 77.34375%;
  left: 68.63084922010398%;
  font-size: 3.2rem;
  color: #fff;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.content .btns {
  width: 100%;
  height: 7.826086956521739%;
  position: absolute;
  z-index: 3;
  bottom: 3.478260869565217%;
}
.content .btns .btn {
  width: 42.5%;
  height: 100%;
  background-color: #ffd700;
  display: inline-block;
  border-radius: 0.6rem;
  font-size: 3rem;
  text-align: center;
  margin-left: 5%;
}
.content .btns .down {
  background-color: #29b6f6;
}
.content .btns .show {
  background-color: #fd585c;
}
.content .btns .show2 {
  background-color: #fdcc41;
}
.content .btns .show3 {
  background-color: #5b53a9;
}
.content_bg2 {
  background: #c0c0c0 url("../images/bg2.jpg") center center no-repeat;
  background-size: cover;
}
.content_bg3 {
  background: #c0c0c0 url("../images/bg3.jpg") center center no-repeat;
  background-size: cover;
}
.winxintips {
  position: absolute;
  right: 5.46875%;
  width: 47.65625%;
  height: 19.0217391304348%;
}
.winxintips img {
  max-width: 100%;
}
.shares {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46.9565217391304%;
  background-color: #fff;
}
.shares .shares_wrapper {
  width: 96.25%;
  height: 100%;
  margin-left: 1.875%;
}
.shares .shares_wrapper ul {
  width: 100%;
  height: 100%;
}
.shares .shares_wrapper ul li {
  width: 18.181818181818198%;
  height: 34.7222222222222%;
  float: left;
  margin: 7.305194805194801% 3.2467532467532% 0 3.2467532467532%;
}
.shares .shares_wrapper ul li p {
  margin-top: 13.392857142857101%;
  color: #666;
  font-size: 2.2rem;
  text-align: center;
}
