/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:90960a6b972e02ef462fdfeeed5c233a:cfae90cda9829364c98d69724b68c439:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/sprite.png);}

.anonymous {width:82px; height:82px; background-position: -463px -154px}
.boy {width:174px; height:250px; background-position: -2px -2px}
.doctor_hat {width:85px; height:85px; background-position: -376px -154px}
.download {width:28px; height:34px; background-position: -178px -200px}
.icon_cctalk {width:114px; height:114px; background-position: -702px -2px}
.icon_hjtk {width:114px; height:114px; background-position: -818px -2px}
.icon_hjxd {width:114px; height:114px; background-position: -702px -118px}
.icon_tlk {width:114px; height:114px; background-position: -818px -118px}
.menu {width:8px; height:32px; background-position: -208px -200px}
.paper_flight {width:65px; height:63px; background-position: -547px -154px}
.rarrow_gray {width:19px; height:60px; background-position: -614px -154px}
.rarrow_white {width:19px; height:60px; background-position: -635px -154px}
.right_tick {width:196px; height:196px; background-position: -178px -2px}
.wave {width:324px; height:150px; background-position: -376px -2px}
