/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2ac12e4a0eb1939b05307a3564c7f089:0a8c95c5e46f90b5d576a15bc82314b5:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/sprite.png); background-size: 930px 486px; display: none}

.anonymous {width:82px; height:82px; background-position: -101px -2px}
.boy {width:174px; height:250px; background-position: -2px -234px}
.bubble {width:213px; height:85px; background-position: -376px -234px}
.doctor_hat {width:85px; height:85px; background-position: -272px -2px}
.download {width:28px; height:34px; background-position: -71px -2px}
.icon_cctalk {width:114px; height:114px; background-position: -814px -118px}
.icon_hjtk {width:114px; height:114px; background-position: -466px -118px}
.icon_hjxd {width:114px; height:114px; background-position: -582px -118px}
.icon_tlk {width:114px; height:114px; background-position: -698px -118px}
.menu {width:8px; height:32px; background-position: -2px -2px}
.menu_back {width:15px; height:24px; background-position: -12px -2px}
.paper_flight {width:85px; height:85px; background-position: -185px -2px}
.rarrow_gray {width:19px; height:60px; background-position: -29px -2px}
.rarrow_white {width:19px; height:60px; background-position: -50px -2px}
.right_tick {width:196px; height:196px; background-position: -178px -234px}
.s_bdtb {width:114px; height:114px; background-position: -350px -118px}
.s_db {width:114px; height:114px; background-position: -707px -2px}
.s_pyq {width:114px; height:114px; background-position: -359px -2px}
.s_qq {width:114px; height:114px; background-position: -475px -2px}
.s_renren {width:114px; height:114px; background-position: -591px -2px}
.s_txwb {width:114px; height:114px; background-position: -118px -118px}
.s_weixin {width:114px; height:114px; background-position: -234px -118px}
.s_xlwb {width:114px; height:114px; background-position: -2px -118px}
.wave {width:324px; height:150px; background-position: -591px -234px}
