/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:b0e9a06676435d751e60a79571154c02:0293bcb1a519d5bc4e1e8cf2b0dcf6c7:1e9ea531edb030fd06c741d8d5dec72b$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/sprite.png);zoom:0.5;}

.download {width:28px; height:34px; background-position: -466px -2px}
.icon_cctalk {width:114px; height:114px; background-position: -2px -2px}
.icon_hjtk {width:114px; height:114px; background-position: -118px -2px}
.icon_hjxd {width:114px; height:114px; background-position: -234px -2px}
.icon_tlk {width:114px; height:114px; background-position: -350px -2px}
.menu {width:8px; height:32px; background-position: -466px -38px}
