
/*muti-browser capability*/
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    -ms-animation arguments
    animation arguments

clip-path()
    clip-path arguments    
    -webkit-clip-path arguments
    -moz-clip-path arguments
    -o-clip-path arguments
    -ms-clip-path arguments
transform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
    transform arguments
/*muti-browser capability end*/
.content
	$content_w = 640
	$content_h = 920
	.questions
		$questions_w = 640
		$questions_h = 572
		$questions_num = 15
		position absolute
		top 9.6% // 88 / 920

		width ($questions_num * 100)%
		//height 62.18% //572/920
		height ($questions_h * 100 / $content_h)%

		// background-color silver
		.question
			width (100/$questions_num)% // 1/ 1000
			height 100%
			float left
			h2
				position relative
				width 97%
				// height  (50*100 / $questions_h)%
				height 26%
				font-size 5rem
				padding 3.12% 1%//20/640
				text-align	center
				color white
				border-bottom white 2px dashed
				span 
					width 98%
			ul
				$ul_w = 492 + 12 + 12 //516
				$ul_h = 440
				width ($ul_w*100/$content_w)%
				height  ($ul_h*100 / $questions_h) %
				bob2 $ul_h
				// background-color gold
				margin 3.75% auto 0 auto //left: 24/640

				li 
					width 100%
					height  20%//88/440
					// background-color green
					a 
						$a_h = 72
						position relative
						top 50%
						transform translateY(-50%)
						display block;
						width 100%
						height ($a_h * 100 / 88)% //72/88
						border-radius 2.5rem

						.circle
							display inline-block
							width (50 * 100 / $ul_w)% //50/516
							height  (50 * 100 / $a_h)% //50/72
							border white 2px solid
							border-radius 50%
							text-align center
							margin-right (32 * 100 / $ul_w)% //32/516
							// margin-top  (11 * 100 / $ul_w)%//11/516
							margin-left (12 * 100 / $ul_w)% //12/516
							float left
							b 
								display inline-block
								position relative
								top 50%
								transform translateY(-50%)
								font-size 2.4rem
						.answer
							display inline-block
							width 68%
							margin-left 18%
							font-size 3.0rem
						.sign
							right 7%;
							font-size 3.0rem;
					a.selected
						background-color #ffffff
						color #666666
						// .circle
						// 	border-color #666666
					a.wrong
						background-color #ed5d62
						.circle
							border 0
					a.right 
						background-color #08c863
						.circle
							border 0
	.vs
		$vs_w = 576
		$vs_h = 82
		position absolute
		z-index 1
		width ($vs_w * 100 / $content_w)%
		height ($vs_h * 100 / $content_h)%
		// background-color gold
		bottom 9%
		left (32 * 100 / $content_w)%
		.pho
			width (82 * 100 / $vs_w)%
			height 100%
			border-radius 50%
			border #dcdcdc 2px solid
		.me 
			float left
		.him
			float right
		.info
			$info_w = 380
			$info_h = 82
			width ($info_w * 100 / $vs_w)%
			height ($info_h * 100 / $vs_h)%

			position relative
			
			font-size 2.2rem
			color #666
			// background-color green
			float left
			margin-left (16*100 / $vs_w)%
			.my_name
				position absolute
				bottom 50%
			.his_name
				position absolute
				bottom 50%
				right 0
				// margin-right (16*100 / $vs_w)%
		
			.progress
				$progress_w = 380
				$progress_h = 16
				width ($progress_w * 100 / $info_w)%
				height ($progress_h * 100 / $info_h)%
					
				display block
				background-color #29b6f6

				position relative
				top (50 + (16*100 / $info_h) )%

				border-radius 0.5rem
				.his_progress
					width 50%
					height 100%
					display inline-block
					background-color #fdcc41
					float right
					border-top-right-radius 0.5rem
					border-bottom-right-radius 0.5rem
	.combo
		position absolute
		top 73%
		left 10%
		z-index 1
		font-size 2.4rem
		color white
		.combo_txt
			position absolute
			left 49%
			top 45%
			width 90%
			transform translateY(-50%) translateX(-50%)
			font-size 3.1rem
			text-align center


.overlay
	display none
	.quit
		$quit_w = 540
		$quit_h = 307
		width ($quit_w * 100 / 640)%
		height ($quit_h * 100 / 920)%
		position relative
		background-color white
		margin-top (308*100/640)%
		margin-left auto
		margin-right auto
		border-radius 15px
		overflow hidden
		text-align center
		h2
			font-size 3.2rem
			font-weight bold
			margin-top (45/$quit_w)*100%
			margin-bottom (25/$quit_w)*100%
		p 
			font-size 2.5rem
			margin-bottom (16/$quit_w)*100%
		.btn
			position absolute
			bottom 0
			color #666
			display inline-block;
			width 50%
			height (88*100 / $quit_h)%
			// background-color gold
			font-size 3.0rem
			color #007aff
			border-top #b2b2b2 1px solid
		.confirm
			left 0
			border-right #b2b2b2 1px solid
		.cancel
			right 0