$language_num = 3
.content
	$content_w = 640
	$content_h = 920
	.nav_mask
		position relative
		z-index 2

		width 100%
		height 9.56% //88/920
		margin-top 13.74%  //82/640 
		overflow hidden

		background-color #29B6F6

		ul 
			width 200%
			height 100%
			padding-left (30*100 / 640)%
			li
				float left
				width 10rem
				height 100%

				font-size 3rem	
				text-align center
				letter-spacing 0.3rem
				a 
					display inline-block
					width 100%
					height 100%
					span 
						color #a9e2fb

					span.selected
						color white
		.indicator
			position absolute
			bottom 0
			width 100%
			height 6%//4/88

			.highlight
				width 25%
				height 100%
				border-radius 2px
				background-color gold
	.choose
		position relative
		z-index 2

		padding 5% //32/640

		color #b5b5b5
		background-color white

		font-size 2.4rem

	.booklist_mask
		width 100%
		height $mask_height = ((920 - 88 - 88) * 100 / 920)%

		background-color white
		.booklist_scroller
			width ($language_num * 100)%
			height 100%

			.books
				width (100/$language_num *0.95)%
				padding-left (100/$language_num *0.05)%
				height 100%
				overflow hidden
				float left
				ul 
					width 100%
					// height 100%
					// background-color red
					li
						$li_w = (640*0.95)
						a
							display inline-block
							width 100%
							height 100%
							
							&:after
								content "."
								height 0
								visibiliby hidden
								display block
								clear both

							img 
								float left
								width (78*100/ $li_w)%

								margin-top (16*100/ $li_w)%
								margin-bottom (16*100/ $li_w)%
								margin-right (65*100/ $li_w)%
								border-radius 50%
							h4
								color #333333
								font-size 3.0rem
								margin-top (40*100/ $li_w)%
							p 
								width (532*100 / $li_w)%
								margin-top (25*100/ $li_w)%
								color #999999
								font-size 2.5rem
								letter-spacing 0.2rem
								line-height 3rem

								

	
