.adjust 
	zoom 0.7
	float left
.content
	.carousel
		$carousel_num = 4
		position absolute
		top (130 * 100 / 920)%
		width 100%
		height (285 * 100 / 920)%

		// background-color red

		.btn
			position absolute
			z-index	1

			display inline-block
			width (74 * 100 / 640)%
			height 100%
			// background-color silver
			text-align center

		.prev
			left 0
			transform rotateY(180deg)
		.next 
			right 0
		.outer
			height 100%
			.swrapper
				width (492 * 100 / 640)%
				height 100%
				margin 0 auto
				// background-color gold
				.scroller 
					width ($carousel_num * 100)%
					height 100%
					.pic
						width (100 / $carousel_num)%
						height 100%
						float left
						text-align center
						img
							
							// width (192 * 100 / 492 )%
							height 100%
							max-height 100%
							float left

							position relative
							left 50%
							transform translateX(-50%)
	.info
		$info_h = 308
		position absolute
		bottom (40/920) * 100%
		width (492 * 100 / 640)%
		height ($info_h/920) * 100%
		margin-left (74/640) * 100%
		// background-color gold
		p 
			margin-top (20/492) * 100%
			margin-left ((120 + 28)/492) * 100%

			color #666

			font-size 3.0rem
			.num 
				color #29b6f6
				font-size 4.0rem
		.friends
			margin-left 0
			margin-top (32/492) * 100%
			color #b5b5b5
			font-size 2.4rem
			&:before
				content "Ο"
				margin-right (10/492) * 100%
		.line2
			margin-top (50/492) * 100%
		.bookname
			margin-left 0
			margin (28/492)*100% 0
		.pk
			position absolute
			bottom 0
			display inline-block
			width 100%
			height (88/$info_h) * 100%
			background-color #fdcc41

			text-align center
			font-size 2.8rem
			color white

			border-radius 0.5rem
				

