body
    background #EEF3FA
    font-family "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "SimSun"
    color #333


.hero-unit
    margin 50px auto 0 auto
    width 300px
    font-size 18px
    font-weight 200
    line-height 30px
    background-color #eee
    border-radius 6px
    padding 60px


.hero-unit h1
    font-size 60px
    line-height 1
    letter-spacing -1px


.browsehappy
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0

.hidden
    position absolute
    clip rect(1px, 1px, 1px, 1px)
    clip rect(1px 1px 1px 1px)

a, a:link, a:visited, a:active, a:hover {
    text-decoration none
    color #666;
}
/*muti-browser capability*/
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    -ms-animation arguments
    animation arguments

clip-path()
    clip-path arguments    
    -webkit-clip-path arguments
    -moz-clip-path arguments
    -o-clip-path arguments
    -ms-clip-path arguments
/*muti-browser capability end*/



.hcontrol 
    width 100%
    max-width 800px
    background-color gold
    margin 0 auto
    .ratioparent
        position relative
        width 100%
        padding-bottom 143.75% //920/640
        background-color red
        .ratio
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            background-color gold

/* CSS for header.html BEGIN*/
header
    position absolute
    top 0px
    width 100%
    overflow hidden
    height 45px // 45/920
    line-height 45px
    background-color #29B6F6
    font-size 1rem
    
    z-index 99

    a
        color white

    .page_name
        padding-left 8px

        span.name_txt
            padding-left 8px

    .download
        position absolute
        right 45px
        width 45px
        height 45px
        span.download_icon
            width 14px 
            height 17px 
            display inline-block
            margin 14px 15.5px
            background url(../images/download.png) center center no-repeat
            background-size cover
            

    .menu
        position absolute
        right 0
        width 45px
        height 45px
        animation menu_off 0.8s ease forwards
        span.menu_icon
            width 4px 
            height 16px 
            display inline-block
            margin 14px 20.5px
            background url(../images/menu.png) center center no-repeat
            background-size cover
        &:hover
            animation menu_on 0.8s ease forwards

@keyframes menu_on
    0%
        transform rotate(0deg)
    100%
        transform rotate(90deg)
@keyframes menu_off
    0%
        transform rotate(90deg)
    100%
        transform rotate(0deg)
/* CSS for header.html END*/

/* CSS for .menu_content BEGIN*/

.menu_content
    width 100%
    height 50%
    min-height 245px
    background-color white
    position absolute
    top 45px
    z-index 2
    .login
        width 100%
        height 105px
        border-bottom #f7f7f7 2px solid
        .container
            max-width 640px
            background-color white
            margin 0 auto
            overflow hidden
            color #d2d2d2
            position relative
            .portrait
                width 72px
                height 72px
                overflow hidden
                float left
                margin  16px
            img 
                clip-path circle(50%, 50%, 50%)
                
            h3 
                margin-left 105px 
                margin-top 40px
                font-size 1.4rem
                color #7f7f7f
            p 
                margin-left 105px 
                color #29b6f6
                font-size 10px
                margin-top 9px
            a
                width 72px
                height 30px
                border #d2d2d2 1px solid
                display inline-block
                text-align center
                line-height 30px
                position absolute
                left 233px
                top 38px
                color #d2d2d2;
    .off
        a.regist
            width 77px
            height 30px
            display inline-block
            border #d2d2d2 1px solid
            border-radius 5px
            position absolute
            left 130px
        a.logon
            width 77px
            height 30px
            display inline-block
            background-color #29b6f6
            color white
            border-radius 5px
            border #29b6f6 1px solid
            
        
    .icon_links 
        width 100% //640-12-12/640
        height 97px
        background-color white
        ul 
            width 96.25%
            max-width 616px
            margin 0 auto
            li 
                width 18.67% //115/616
                height 97px
                // background-color gold
                float left
                margin 0 3.13%
                a 
                    width 100%
                    height 57px
                    display inline-block
                    margin-top 12px      
                    font-size 12px
                    text-align center
                    .pname 
                        width 100%
                        height 25px
                        display inline-block
                        line-height 25px
    .txt_links
        width 100%
        height 90px
        background-color white
        border-top #f7f7f7 2px solid
        zoom 0.5

        ul 
            width 100%
            // max-width 640px
            li
                width 33%
                height 88px
                line-height 88px
                text-align center
                // background-color gold
                float left
                &:first-child
                    border-right #f7f7f7 1px solid
                &:last-child
                    border-left #f7f7f7 1px solid
                a
                    display inline-block
                    width 100%


.ani_menu_up
    animation menu_up 0.8s ease forwards           
.ani_menu_down
    animation menu_down 0.8s ease forwards 

@keyframes menu_up
    100%
        transform translateY(-100%);
@keyframes menu_down
    100%
        transform translateY(100%);
    

/* CSS for .menu_content END*/

/* CSS for cloud.html BEGIN*/
    .clouds
        width 100%
        // padding-bottom 21.1% /*135 / 640*/
        height 58.89% //(416+135)/920
        overflow hidden
        position absolute
        bottom 0px
        // background-color gold
        .cloud_bg 
            display inline-block
            width 100%
            height 75.6% //416/(416+135)
            background-color white
            position absolute
            bottom 0
        .cloud_b
            display inline-block
            width 4000px
            height 67px
            background url("../images/cloud_b.png")
            background-size contain
            opacity 0.75
            position absolute
            top 0
            animation cloud_move 200s linear infinite

           
        .cloud_f
            display inline-block
            width 4000px
            height 67px
            background url("../images/cloud_f.png")
            background-size contain
            position absolute
            top 0
            animation cloud_move 100s linear infinite
            // -webkit-transform scaleY(0.5);

    .ani_cloud_down
        animation cloud_down 0.2s ease forwards
@keyframes cloud_move
    100%
        transform translateX(-50%)
@keyframes cloud_down
    100%
        transform translateY(200px);
/* CSS for cloud.html END*/


/*Content begin*/
.content
    width 100%
    // min-height 480px
    position absolute
    padding-bottom 143.75% //920/640
    background silver url("../images/bg.jpg") center center no-repeat
    background-size cover


/*Content end*/

/*hjm_share begin*/

/*hjm-share end*/
