html 
    font-size 62.5%
body
    background #FFF
    font-family "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "SimSun"
    color #333
*
    -webkit-tap-highlight-color rgba(0,0,0,0)


.hero-unit
    margin 50px auto 0 auto
    width 300px
    font-size 18px
    font-weight 200
    line-height 30px
    background-color #eee
    border-radius 6px
    padding 60px


.hero-unit h1
    font-size 60px
    line-height 1
    letter-spacing -1px


.browsehappy
    margin 0.2em 0
    background #ccc
    color #000
    padding 0.2em 0

.hidden
    position absolute
    clip rect(1px, 1px, 1px, 1px)
    clip rect(1px 1px 1px 1px)

a, a:link, a:visited, a:active, a:hover {
    text-decoration none
    color #FFF;
}

.overlay 
    width 100%
    height 100%
    background rgba(40,40,40,0.3)
    position fixed
    top 0
    left 0
    z-index 101
#for_menu
    z-index 90
/*muti-browser capability*/
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    -ms-animation arguments
    animation arguments

clip-path()
    clip-path arguments    
    -webkit-clip-path arguments
    -moz-clip-path arguments
    -o-clip-path arguments
    -ms-clip-path arguments
transform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
    transform arguments
/*muti-browser capability end*/



.hcontrol 
    width 100%
    max-width 768px
    min-width 320px
    // background-color gold
    margin 0 auto
    .ratioparent
        position relative
        width 100%
        padding-bottom 143.75% //920/640
        // background-color red
        .ratio
            position absolute
            top 0
            bottom 0
            left 0
            right 0
            // background-color gold

/* CSS for header.html BEGIN*/
header
    position absolute
    top 0px
    width 100%
    overflow hidden
    height 9.56% // 88/920
    background-color #29B6F6
    font-size 3.2rem
    z-index 99

    a
        color white

    .page_name
        position relative
        width 70%
        display inline-block
        margin-left 5% //32px/640
        margin-top 4.37% //28px/640

        span.name_txt
            margin-left 8% 
            // font-weight bold

    .btn_download
        position absolute
        right 13.75%  //88/640
        width 13.75% //88/640
        height 100%
        text-align center

    .btn_menu
        position absolute
        right 0
        width 13.75% //88/640
        height 100%
        
        text-align center
        transition all 0.5s
    .btn_menu_on
        transform rotate(90deg)

@keyframes menu_on
    0%
        transform rotate(0deg)
    100%
        transform rotate(90deg)
@keyframes menu_off
    0%
        transform rotate(90deg)
    100%
        transform rotate(0deg)
/* CSS for header.html END*/



.hvmiddle
    position absolute
    left 49%
    top 50%
    transform translateY(-50%) translateX(-50%)
.vmiddle
    position absolute
    top 50%
    transform translateY(-50%)
.rvmiddle
    position relative
    top 50%
    transform translateY(-50%)
    display inline-block

/* CSS for .menu_content BEGIN*/
.menu_content
    width 100%
    height 50% //460
    min-height 245px
    background-color white
    position absolute
    // top 9.56% // 88/920
    top -50%
    z-index 98
    display block
    .login
        width 100%
        height  44.56%//205px/460px
        margin 0 auto
        border-bottom #f7f7f7 2px solid
        .container
            width 100%

            height 100%
            background-color white
            margin 0 auto
            overflow hidden
            color #d2d2d2
            position relative
            .portrait
                position relative
                width 32%   //205/640
                height 100% //205/205
                overflow hidden
                float left
                
                img 
                    width 70.73% //145px/205
                    margin 15.6% // 32px/205
                    border-radius 50%
                    max-width 100%
                    max-height 100%
                    border #dcdcdc 1px solid
                
            h3 
                margin-top 12.5% //80/640
                font-size 3.8rem
                color #7f7f7f
            p 
                color #29b6f6
                font-size 2rem
                margin-top 2.44% //15px/640
            a
                width 24.22% //155px/640 
                height 30.24% //62px/205
                border #d2d2d2 1px solid
                border-radius 8px
                display inline-block
                font-size 2.4rem
                
                position absolute
                left 70.62% //452px/640
                top 34.15% //70/205
                color #d2d2d2
            a.regist
                width 24.22% //155px/640 
                height 30.24% //62px/205
                border #d2d2d2 1px solid
                border-radius 8px
                display inline-block
                font-size 2.4rem
                
                position absolute
                left 41.4% //265px/640
                top 34.15% //70/205
                color #d2d2d2
            a.logon
                width 24.22% //155px/640 
                height 30.24% //62px/205
                border #d2d2d2 1px solid
                border-radius 8px
                display inline-block
                font-size 2.4rem
                
                position absolute
                left 70.62% //452px/640
                top 34.15% //70/205
                color white
                background-color #29B6F6
                
    .off
        a.regist
            width 77px
            height 30px
            display inline-block
            border #d2d2d2 1px solid
            border-radius 5px
            position absolute
            left 130px
        a.logon
            width 77px
            height 30px
            display inline-block
            background-color #29b6f6
            color white
            border-radius 5px
            border #29b6f6 1px solid
            
        
    .icon_links 
        width 100% //640-12-12/640
        height 42.39% //195px/460
        background-color white
        ul 
            width 96.25%
            height 100%
            max-width 616px

            margin 0 auto
            li 
                width 18.67% //115/616
                height 76.93%  //150/195
                // background-color gold
                float left
                margin 3% 3.13% // 26/616 
                a 
                    width 100%
                    height 100%
                    display inline-block
                    font-size 2.4rem
                    text-align center
                    color #666
                    .pname 
                        width 100%
                        height 12.82% //25px/195px 
                        display inline-block
                        margin-top 13.04% //15px/115

    .txt_links
        width 100%
        height 19.56% //90px/460
        margin 0 auto
        background-color white
        border-top #f7f7f7 2px solid
        ul 
            width 100%
            // max-width 640px
            height 100%
            li
                width 33%
                height 100%
                
                text-align center
                // background-color gold
                float left
                &:first-child
                    border-right #f7f7f7 1px solid
                &:last-child
                    border-left #f7f7f7 1px solid
                a
                    display inline-block
                    width 100%
                    height 100%
                    position relative
                    font-size 2.3rem
                    color #666

.menu_content_on
    transition all 0.5s 
    top 9.56% // 88/920
.menu_content_off
    transition all 0.5s
    top -50%

.ani_menu_up
    animation menu_up 0.8s ease forwards           
.ani_menu_down
    animation menu_down 0.8s ease forwards 

@keyframes menu_up
    100%
        transform translateY(-100%);
@keyframes menu_down
    100%
        transform translateY(100%);
    

/* CSS for .menu_content END*/

/* CSS for cloud.html BEGIN*/
    .clouds
        display none
        width 100%
        // padding-bottom 21.1% /*135 / 640*/
        height 74.57% //(416+135+135)/920
        overflow hidden
        position absolute
        bottom 0px
        z-index 0
        // background-color gold
        .cloud_bg 
            display inline-block
            width 100%
            height 60.64% //416/(416+135+135)
            background-color white
            position absolute
            z-index 1
            bottom 3px /*fix blue line between clouds and cloud_bg*/
        .cloud_parallax
            width 100%
            height 39.36% //135+135/(416+135+135)
            position relative

            .cloud_b
                display inline-block
                width 2008px
                height 162px
                background url("../images/cloud_b.png") no-repeat
                background-size cover
                
                opacity 0.8
                position absolute
                bottom 0
                animation cloud_move 400s linear infinite

               
            .cloud_f
                display inline-block
                width 1680px
                height 135px
                background url("../images/cloud_f.png") no-repeat
                background-size contain
                position absolute
                bottom 0
                animation cloud_move 150s linear infinite
                // -webkit-transform scaleY(0.5);

    .ani_cloud_down
        animation cloud_down 0.2s ease forwards
@keyframes cloud_move
    100%
        transform translateX(-40%)
@keyframes cloud_down
    100%
        transform translateY(200px);
.boy_in_cloud
    position absolute
    top 18%
    left 5%
    z-index 0
/* CSS for cloud.html END*/


/*Content begin*/
.content
    width 100%
    height 100% //920px
    // min-height 480px
    position absolute
    background silver url("../images/bg.jpg") center center no-repeat
    background-size cover
    overflow hidden
    .kinds
        position relative
        z-index 1
        top 25% //230px/920px
        text-align center
        .icon_left
            float left
            margin-right 0%
        .icon_right
            float right
            position: absolute;
            top: 50%;
            right: 12%;
            transform: translateY(-50%);
        .kqbc
            display inline-block
            padding 0 1.56% //10/640
            width 75% //464-10-10/640
            max-width 450px
            text-align left
            color white
            position relative
        .xmyy
            display inline-block
            position relative
            padding 0 1.56% //10/640
            margin-top 44.53% //285/640
            width 75% //464-10-10/640
            max-width 450px
            text-align left
            color #666666
            
        .kind_title 
            width 60% //240/444
            display block
            margin 0 auto
            font-size 5.6rem
            
            
        .kind_desc
            width 100% 
            display block
            margin 0 auto
            font-size 2.4rem
            text-align left
            margin-top 7%
        .hmiddle-r 
            display inline-block
            position relative
            left 50%
            transform translateX(-50%)
        .copyright
            font-size 2.2rem
            margin-top 21% //100px/482px
            

/*Content end*/

/*DOwntips begin*/
@keyframes fadeOut
    100%
        opacity 0
        visibility hidden

.downtips
    position relative
    z-index 100
    width 100%
    height 100%
    background rgba(0,0,0,0.9)
    animation fadeOut 1s 2s linear forwards
    display none
    // display none
    img 
        position absolute
        right 2.2%
        top 1.8%
        max-width 100%



/*DOwntips begin*/

/*hjm_share begin*/

/*hm-share end*/


/* MEDIA QUERY BEGIN */
@media screen and (max-width: 601px)
    html
        font-size: 53.13%

@media screen and (max-width: 550px)
    html
        font-size 48%

@media screen and (max-width: 470px) 
    // nexus 4 = 384
    html 
        font-size 43%

@media screen and (max-width: 420px) 
    // nexus 4 = 384
    html 
        font-size 37%
    .boy_in_cloud
        zoom 0.7
        top 22%

@media screen and (max-width: 380px) 
    // nexus 4 = 384
    html 
        font-size 32%
    .rarrow_gray
    .rarrow_white
        width 20px
    .boy_in_cloud
        zoom 0.6
        top 22%
@media screen and (max-width: 320px) 
    // nexus 4 = 384
    html 
        font-size 32%
    .rarrow_gray
    .rarrow_white
        width 20px
    .boy_in_cloud
        zoom 0.9
        top 20%
// @media screen and (max-width: 321px) 
    //iphone 3g 4 5 = 320

/* MEDIA QUERY END */

/* LANDSCAPE BEGIN */
@media screen and (orientation: landscape)
    .content
        .kinds
            .kqbc, .xmyy
                text-align center



/* LANDSCAPE BEGIN */