/*muti-browser capability*/
animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    -ms-animation arguments
    animation arguments

clip-path()
    clip-path arguments    
    -webkit-clip-path arguments
    -moz-clip-path arguments
    -o-clip-path arguments
    -ms-clip-path arguments
transform()
    -webkit-transform arguments
    -moz-transform arguments
    -o-transform arguments
    -ms-transform arguments
    transform arguments
/*muti-browser capability end*/

.hmiddle
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
.content
	//640*920
	.user_info
		width 100%
		height 33.7% //310/920
		// background-color red

		position relative
		top 14.35%//132/920
		.pic
			width 100%
			height 61.94% //192/310
			position relative
			.wave_containter
				position absolute
				left 50%
				transform translateX(-50%)
				top 13%
			.photo
				max-height 100%
				position absolute
				left 50%
				transform translateX(-50%)
				boder #e2e2e2 1px solid
				border-radius 50%
		.user_txt
			text-align center
			color #eef9ff
		.user_name
			margin-top 4.38% //28/640
			font-size 3.4rem
			letter-spacing 3px
		.user_status
			margin-top 1.57% //10/640
			font-size 2.4rem
	.opp_info
		width 100%
		height 32.61% //300/920
		bottom 0
		position absolute
		z-index 2
		ul
			overflow hidden
			width 300% //640*3
			height 64% //192/300
			padding 0 1.66% //32/640*3
			li 
				float left
				margin-right 0.8% //16/640*3
				position relative
				top 50%
				transform translateY(-50%)
				
	.clouds
		z-index 1
.waiting, .me_done
	position absolute
	top 28.8% //265px/920
	width 100%
	height 28.8% //265px/920 
	.wave
		position absolute
		left 50%
		transform translateX(-50%)
		width 50.45% //325px/640
		height 54.72% //145/265
		background url("../images/wave.png") center center no-repeat
		background-size contain

		margin-top 3.91% //25/640
		// animation wave_broadcast 2s infinite
	.opp_photo
		width 30%//192/640
		height 72.45% // 192/265
		position absolute
		left 50%
		transform translateX(-50%)
		text-align center
		img 
			max-height 100%
			max-width 100%
			border-radius 50%
	p
		width 100%
		position absolute
		top 86.79% //230px/265
		text-align center
		font-size 3.2rem
		color white

// waves animation			
@keyframes wave_broadcast
	0%
		// width 30.2%
		width 30.2%
	100%
		// width 50.45% //325px/640
		width 50.45% //325px/640
				

				
